// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)), url("/assets/images/hero.jpg");
    height: 100vh;
    background-size: cover;
    .logo {
        color: #fff;
        font-family: 'Condiment', cursive;
        font-size: 42px;
    }
}