/*
    ================================
        === Discover Section ===    
    ================================
*/ 
.section-discover {
    background-color: $light-grey;
    display: flex;
    justify-content: center;
    padding: 10rem;
    .food-item {
        height: 44rem;
        width: 28rem;
        background-color: aqua;
        margin-left: 2rem;
        margin-right: 2rem;
        &--1 {
            background: url(../images/food-1.jpg);
            background-size: cover;
        }
        &--2 {
            background-image: url(../images/food-2.jpg);
            background-size: cover;
        }
        &--3 {
            background-image: url(../images/food-3.jpg);
            background-size: cover;
        }
    }
}